@import '../../style/mixins.scss';

.section-form-review {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.form-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px); 
}

.form-review {
    position: relative;
    z-index: 1; 
    max-width: 460px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    background-color: #0f1012;
    border-radius: 5px;

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem; 
    color: #f6f1de;
    cursor: pointer; 
    background: transparent;
}

    .form_review__title {
    margin-bottom: 5px;

    @include goldText('../../images/gold.png');
    font-size: 1.5rem;
    font-weight: 700;
  }

  .form_review__subtitle {
    margin-bottom: 20px;
    padding-inline: 37px;

    font-size: 1rem;
    font-weight: 500;
    color: #f6f1de;
}

.form_review__input {
    height: 38px;
    padding: 10px 15px;
    background-color: #f6f1de;

    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    font-weight: 400;

    outline: none;
    border: none;
    border-radius: 5px;

    &:-webkit-autofill,
    &:autofill {
    box-shadow: 0 0 0 30px #f6f1de inset !important;
    }

    &::placeholder {
    color: rgba(15, 16, 18, 0.6);
    }

    &:-moz-placeholder,
    &::-moz-placeholder {
    color: rgba(15, 16, 18);
    }
}

.select {
    color: rgba(15, 16, 18, 0.6);
}

    .textarea {
    height: 68px;
    resize: none;
    }

    &__submit-btn,
    &__submit-btn_gold {
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    align-self: center;

    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    font-weight: 700;

    background: #282828;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:active {
      background: #1b1a1a;
    }
  }

  &__submit-btn_gold {
    background: url('../../images/gold.png');
    background-position: center;
  }

  .btn-name {
    @include goldText('../../images/gold.png');
  }

  .btn-name_sent {
    color: #282828;
  }
}

.error-message,
.submit-error-message {
  margin-top: 10px;
  font-size: 1rem;
  color: #ff3223;
}

.personal-data-terms {
  align-self: flex-start;

  display: flex;
  align-items: center;
  column-gap: 15px;

  &__label {
    font-size: 0.75rem;
    font-weight: 500;
    color: #f6f1de;
  }

  &__link {
    @include goldText('../../images/gold.png');
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      background-color: #f6f1de;
      background: url('../../images/gold.png');
    }
  }
}

.border-red {
  outline: 1px solid #ff3223;
}

@media (max-width: 1200px) {
  .section-form {
    width: 100%;
    position: static;
    transform: none;
    padding: 100px 20px;
  }

  .form-review {
    margin: 0 auto;
    border: 1px solid #af9460;
  }
}

@media (max-width: 570px) {
  .form-review {
    max-width: 340px;
    padding-inline: 20px;

    &__title {
      font-size: 1.25rem;
    }

    &__subtitle,
    &__input,
    &__submit-btn,
    &__submit-btn_gold {
      font-size: 0.875rem;
    }

    &__subtitle {
      padding-inline: 20px;
    }
  }

  .personal-data-terms {
    column-gap: 10px;

    &__label {
      font-size: 0.6rem;
    }
  }

  .error-message,
  .submit-error-message {
    font-size: 0.875rem;
  }
}

@media (max-width: 380px) {
  .section-form-review {
    padding-block: 30px;
  }
}
