@import "../../style/mixins.scss";
.btn {
  border: none;
  border-radius: 5px;
  font-family: "Comfortaa";
  font-weight: 700;
  cursor: pointer;
}

.btn_gold {
  font-size: 1rem;
  color: #282828;
  background-color: #e1bb6d;
  line-height: 1.115em;
  padding: 1vh 3vw;
}

.course-page__price-btn {
  font-family: "Rounds Black";
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  background-color: #ddb86b;
}
.course-page__desc-btn {
  margin-top: 1.5vh;
}
.btn_footer {
  @include goldText("../../images/gold.png");
  font-size: 1.5rem;
  padding: 3vh 2.5vw;
  line-height: 1.1em;
  font-weight: 700;
}
