@import "../../style/mixins.scss";

.wrapper {
  background-color: #0F1012;
  color: #F6F1DE;
  padding: 4vh 1vh 2vh 1vh;
  font-weight: 700;
  display: flex;
  margin: 0 auto;
  font-size: 1.25rem;
  position: relative;
  z-index: 3;

  a {
    color: #F6F1DE;
  }

  @media (max-width: 1050px) {
    font-size: 1rem;
  }

  @media (max-width: 820px) {
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 2vh;
  }
}

.header-content-wrap {
  width: 100%;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 10vw;

  @media (max-width: 1600px) {
    margin-right: 4vw;
  }

  @media (max-width: 820px) {
    display: block;
  }
}

.header-logo-content {
  display: flex;
  align-items: center;
  gap: 7vw;
  font-family: "Rounds Black";
  font-weight: normal;

  @media (max-width: 1050px) {
    gap: 5vw;
  }

  img {
    @media (max-width: 1050px) {
      width: 130px;
      height: 37px;
    }

    @media (max-width: 820px) {
      width: 124px;
      height: 42px;
    }
  }

  p {
    @media (max-width: 820px) {
      display: none;
    }
  }
}

.wrap-btns {
  margin-right: 2.5vw;
  padding: 0.7% 0.7% 0.5% 0.5%;

  @media (max-width: 820px) {
    display: flex;
    align-items: center;
    gap: 5vw;
  }
}

.header-contacts {
  height: 100%;
  display: flex;
  flex-direction: column;

  p {
    @media (max-width: 820px) {
      display: none;
    }
  }
}

.header-contacts-telegram {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.telegram-icon {
  text-align: end;
}

.header-contacts-telegram,
.header-burger-btn {
  @include goldText("../../images/gold.png");
}

.header-contacts-telegram {
  font-size: 1rem;

  @media (max-width: 1050px) {
    font-size: 0.75rem;
  }

  img {
    @media (max-width: 1050px) {
      width: 29px;
      height: 29px;
    }
  }
}

.header-nav {
  padding-top: 5vh;

  @media (max-width: 820px) {
    background-color: #0F1012;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -120%;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: left 1s;
    padding: 8vh 3vw;
    font-size: 0.875rem;
  }

}

.burger-active {
  left: 0;
}

.menu {
  width: 100%;
  display: flex;
  gap: 2.2vw;
  margin-right: 10vw;

  @media (max-width: 1050px) {
    margin-right: 5vw;
  }

  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
    margin-right: 0;

    p {
      text-transform: uppercase;
      padding-top: 6px;
    }

    .courses-link-submenu {
      margin-left: 6px;

      p {
        text-transform: none;
      }
    }
  }

  li {
    @media (min-width: 821px) {
      padding: 0.3em 0.5em 0.3em 0.5em;
      background-color: #282828;
      border-radius: 5px;
      position: relative;
      z-index: 1;
    }
  }

}

.submenu-title,
.submenu,
.menu,
.courses-link-submenu {
  list-style-type: none;
}

.submenu {
  @media (max-width: 820px) {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 6px;
  }
}

.courses-title::after,
.test-link::after,
.about-link::after {
  @media (min-width: 821px) {
    content: url("/src/images/header-nav-arrow.svg");
    @include goldText("../../images/gold.png");
    margin-left: 0.3em;
  }
}

.courses-link-submenu,
.test-submenu,
.about-submenu {
  @media (min-width: 821px) {
    position: absolute;
    background-color: #282828;
    left: 0;
    top: 110%;
    z-index: 5;
    border-radius: 5px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
  }
}

.courses-link-submenu,
.about-submenu {
  @media (min-width: 821px) {
    width: 210%;
  }
}

.test-submenu {
  @media (min-width: 821px) {
    width: 100%;
  }
}


.menu>li:hover .courses-link-submenu,
.menu>li:hover .test-submenu,
.menu>li:hover .about-submenu {
  @media (min-width: 821px) {
    opacity: 1;
    transform: scaleY(1);
  }
}

.header-burger-btn {
  border: none;
  display: none;
  z-index: 101;

  @media (max-width: 820px) {
    display: block;
  }
}