@mixin goldText($path-to-img) {
  background-size: cover;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-position: center center;
  background-image: url($path-to-img);
}

@font-face {
  font-family: 'Rounds Black';
  src: url('../../../public/Fonts/RoundsBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}