@import "../../../style/mixins.scss";
//row
.course-page__row {
  padding: 5vh 0;
  column-gap: 2vmax;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: "name description  price";
  & {
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
    }
  }
}
.course-page__row-title-container {
  grid-area: name;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -2vw;
}
.course-page__row-title {
  @include goldText("../../../images/gold.png");
  font-family: "Rounds Black";
  font-size: 2.25rem;
  font-weight: 40;
  line-height: 1.2em;
  text-align: center;
  hyphens: auto;
}

.course-page__desc-container {
  grid-area: description;
}
.course-page__desc {
  font-family: "Comfortaa";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.115em;
  text-align: left;
  hyphens: auto;
}
.course-page__desc ul {
  list-style-position: inside;
  list-style-type: none;
}
.course-page__price-container {
  grid-area: price;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5vh;
  text-align: center;
  align-items: center;
}
.course-page__prices {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.25em;
}

.course-page__price {
  line-height: 1.115em;
}
.course-page__price span {
  font-family: "Rounds Black";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25em;
}
//divider
.course-page__divider {
  background-color: #e1bb6d;
  width: auto;
  height: 2px;
}

.course-page__title_price_mobile {
  display: none;
  & {
    @media (max-width: 1024px) {
      display: block;
    }
  }
}
