@import "../../style/mixins.scss";


.testimonials-slider {
  text-align: center;
  background-color: #0f1012;
  background-image: url("../../images/Vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 10vh 0;
  max-width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  overflow: hidden;

  .testimonials-heading {
    @include goldText("../../images/gold.png");
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Rounds Black";
    font-size: 2rem;
    line-height: 2.3rem; 
    padding: 2vh;
    font-weight: 700;
    @media (max-width: 570px) {
      font-size: 1.8em;
    }
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .arrow {
      background: #282828;
      min-width: 50px;
      min-height: 50px;
      gap: 0;
      margin: 1vh;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;

      @media (max-width: 570px) {
        min-height: 30px;
        min-width: 30px;
      }
    }

    .testimonials-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;

      @media (max-width: 570px) {
        grid-template-columns: 1fr;
        font-size: 0.8em;
        row-gap: 4vh; 
      }

      .testimonial-card {
        background-color: #f6f1de;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: left;
        margin: 10px 0;

        &.upper {
          height: 25vh; 
        }

        &.lower {
          height: 35vh; 
        }

        &.expanded {
          height: auto;

          .quote {
            white-space: pre-wrap;
            overflow-wrap: break-word;
          }
        }

        .quote {
          margin-bottom: 1rem; 
        }

        .read-more {
          background-color: transparent;
          border: none;
          cursor: pointer;
          text-align: right;

          @media (max-width: 1024px) {
            font-size: 0.9em;
          }

          @media (max-width: 570px) {
            font-size: 0.8em;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        .testimonial-footer {
          display: flex;
          justify-content: space-between; 
          align-items: flex-end; 
          margin-bottom: 0.5rem;

          @media (max-width: 1024px) {
            font-size: 0.9em;
          }

          @media (max-width: 570px) {
            font-size: 0.8em;
          }

          .author-info {
            text-align: left;

            p {
              margin: 0;

              &:first-of-type {
                font-weight: bold;
              }
            }
          }

          .product-name {
            height: 2.625rem; 
            max-width: 14.5rem; 
            background-color: #0f1012;
            color: white;
            padding: 0.5rem 0.625rem;
            border-radius: 0.5rem; 
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 700;
            @include goldText("../../images/gold.png");

            @media (max-width: 1024px) {
              font-size: 1.2em;
            }

            @media (max-width: 570px) {
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }

  .leave-feedback-button {
    width: 22.5rem; 
    height: 3.5625rem; 
    border-radius: 0.5rem; 
    background-color: #282828; 
    cursor: pointer;
    margin: 3vh auto 0; 
    margin-bottom: 1rem; 
    font-size: 24px; 

    @media (max-width: 1024px) {
      max-width: 18rem;
      max-height: 3rem;
    }

    @media (max-width: 570px) {
      max-width: 14rem;
      max-height: 2.5rem;
    }

    &:hover {
      opacity: 0.8; 
    }
  }

  .leave-feedback {
    border: none;
    margin-top: 1rem; 
    font-size: 24px; 
    font-weight: 700;
    @include goldText("../../images/gold.png");

    @media (max-width: 1024px) {
      font-size: 1.5rem; 
    }

    @media (max-width: 570px) {
      font-size: 1rem; 
    }
  }

  .product-container {
    height: 2.625rem; 
    min-width: 14.5rem; 
    background-color: #0f1012;
    margin-left: 0.3125rem;
    border-radius: 0.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 1024px) {
      max-height: 2rem; 
      min-width: 12rem;   
    }

    @media (max-width: 570px) {
      max-height: 1.5rem; 
      min-width: 10rem;   
    }
  }
}

.left {
  margin-right: 10px; 
}

.right {
  margin-left: 10px; 
}

@media (max-width: 570px) {
  .arrow {
    img {
      width: 10px; 
    }
  }
}
