@import "../../style/mixins.scss";

.testimonials-slider {
  text-align: center;
  width: 1400px;
  height: 826px;
  background-color: #0f1012;
  background-image: url("../../images/Vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  .testimonials-heading {
    padding: 50px;
    @include goldText("../../images/gold.png");
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Rounds Black";
    font-size: 32px;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      background: #282828;
      width: 45px;
      height: 45px;
      gap: 0px;
      margin: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
    }

    .testimonials-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      .testimonial-card {
        width: 560px;
        background-color: #f6f1de;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: left;

        &.upper {
          height: 205px;
        }

        &.lower {
          height: 277px;
        }

        &.expanded {
          height: auto;

          .quote {
            white-space: pre-wrap;
            overflow-wrap: break-word;
          }
        }

        .quote {
          font-size: 16px;
          margin-bottom: 10px;
        }

        .read-more {
          background-color: transparent;
          border: none;
          cursor: pointer;
          text-align: right;

          &:hover {
            opacity: 0.7;
          }
        }

        .testimonial-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .author-info {
            text-align: left;

            p {
              margin: 0;

              &:first-of-type {
                font-weight: bold;
              }
            }
          }
          .product-name {
            height: 42px;
            min-width: 232px;
            background-color: #0f1012;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include goldText("../../images/gold.png");
          }
        }
      }
    }
  }

  .leave-feedback {
    width: 360px;
    height: 57px;
    border-radius: 5px 0px 0px 0px;
    background-color: #282828;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 24px;
    @include goldText("../../images/gold.png");

    &:hover {
      opacity: 0.7;
    }
  }
}
