@import "../../style/mixins.scss";

@font-face {
  font-family: "Rounds Black";
  src: url("./Fonts/RoundsBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.teachers-container {
  text-align: center;
  background-image: url("../../images/Vector1_cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 10vh 0;
  max-width: 100%;
  height: fit-content;


  .teachers-heading {
    margin-bottom: 4vh;
    @include goldText("../../images/gold.png");
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Rounds Black";
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
  }
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin: 0 10vh;

  @media (max-width: 1024px) {
    margin: 0 3vh;
    flex-wrap: wrap;
  }
}

.card {
  width: 30vw;
  background-color: #f6f1de;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 2vh;
  padding: 2vh 2vw;
  border-radius: 5px;
  align-items: center;
  @media (max-width: 1024px) {
    max-width: 60%;
    padding: 2vh 3vw;
  }
  @media (max-width: 570px) {
    width: auto;
    max-width: unset;
  }
}

.teacher-name {
  font-size: 1.5rem;
}

.teacher-image {
  max-width: 100%;
  border-radius: 10px;
  flex-shrink: 1;
  object-fit: cover;
}

.profession-container {
  display: flex;
  align-items: flex-start;
}

.teacher-profession {
  list-style-position: outside;
  text-align: left;
  padding-left: 2vw;
  font-size: 20px;
}
