body {
    font-size: 20px;
    background-color: black;

}

.teachers-container {
    text-align: center;
    margin: 20px;


    h2 {
        margin-bottom: 20px;
        color: gold;
    }

}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    background-image: url("../../images/Vector1.png");

}

.card {
    width: 360px;
    background-color: #F6F1DE;


}

.teacher-name {
    font-size: 1.5rem;
    margin: 10px;
}

.teacher-image {
    width: 298px;
    height: auto;
    border-radius: 10px;
}

.profession-container {
    display: flex;
    align-items: flex-start;
}


.teacher-profession {
    list-style-position: inside;
    margin: 30px;
}