@import "../../style/mixins.scss";

@font-face {
    font-family: 'Rounds Black';
    src: url('../../../Fonts/RoundsBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.teachers-container {
    text-align: center;
    background-color: black;
    background-image: url("../../images/Vector1.png");
    padding: 20px auto;
    width: 1399px;
    height: 911px;
    font-size: 20px;
    background-color: black;




    .teachers-heading {
        margin-bottom: 20px;
        padding: 50px;
        @include goldText("../../images/gold.png");
        text-align: center;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        background-position: center center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Rounds Black";
        font-size: 32px;
        font-weight: 400;
        line-height: 38.4px;
    }

}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    

}

.card {
    width: 360px;
    background-color: #F6F1DE;


}

.teacher-name {
    font-size: 1.5rem;
    margin: 15px;
}

.teacher-image {
    width: 298px;
    height: auto;
    border-radius: 10px;
}

.profession-container {
    display: flex;
    align-items: flex-start;
}


.teacher-profession {
    list-style-position: inside;
    margin: 30px;
}