@import '../../style/mixins.scss';

.telegram-container {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 60px auto;
  font-family: 'Comfortaa';

  @media (max-width: 1200px) {
    margin-inline: 20px;
  }
}

.telegram-content {
  box-sizing: border-box;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background: url('src/images/stars.svg') no-repeat center center / cover, #282828;
  border-radius: 5px;
  @media (max-width: 570px) {
    flex-direction: column;
    .telegram-text-block {
      order: 1; 
    }

    .telegram-image {
      order: 2; 
    }
  }
}

.telegram-image {
  width: 45%;
  @media (max-width: 570px) {
    width: 100%;

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.telegram-text-block {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #f6f1de;
  font-family: 'Comfortaa';
  @media (max-width: 570px) {
    width: 100%;
    
  }

  .text-1,
  .text-2,
  .text-3 {
    margin-bottom: 1.875rem;
  }
  .text-1 {
    font-size: 1.5rem;
  }

  .text-2 {
    @include goldText('../../images/gold.png');
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .text-3 {
    margin-bottom: 45px;
    font-size: 1.25rem;
  }
}

.subscribe-btn {
  padding: 15px 30px;
  font-family: 'Comfortaa';
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  background-color: #0f1012;
  cursor: pointer;

  span {
    @include goldText('../../images/gold.png');
  }

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 570px) {
    font-size: 1.3rem;
  }
}
